.fondbleu{
    width : 70px;
    height: 70px;
    background-size: contain;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.fondgris{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-color: #E9ECEF ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar{
    background-color: #E1E1E1 ;
    height: 3rem;
    width: 100vw;

}
.fondviolet{
    width: 30px;
    height: 30px;
    background-color: #7E6EF9;
    border-radius: 50px;
    background-size: contain;
    border: 1px white solid;
}
.bas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.droite{
    width: 130px;
}